In [96]:
import pandas as pd
import numpy as np

test = pd.read_csv('test.csv', index_col=0)
train = pd.read_csv('train.csv', index_col=0)


train.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [97]:
# preprocessing
train = train.drop(['Name', 'Sex', 'Cabin'], axis=1)

(891,)

             Pclass   Age  SibSp  Parch     Fare
PassengerId
1                 3  22.0      1      0   7.2500
2                 1  38.0      1      0  71.2833
3                 3  26.0      0      0   7.9250
4                 1  35.0      1      0  53.1000
5                 3  35.0      0      0   8.0500

In [ ]:
# selecting X and y
y = train['Survived']
print(y.shape)
X = train.drop('Survived', axis=1)
X.head()

In [98]:
# splitting training data
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4)

print(X_train.shape) # more test data is better model
print(X_test.shape)

(534, 5)
(357, 5)

In [99]:
# also try out decision tree model 
from sklearn.tree import DecisionTreeClassifier
dct = DecisionTreeClassifier()
dct.fit(X_train, y_train)

# Accuracy of our model based on our test output and prediction output
y_pred_dct = dct.predict(X_test)
print('Accuracy DecisionTree:', metrics.accuracy_score(y_test, y_pred_dct))

ValueError: Input X contains NaN.
DecisionTreeClassifier does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values